@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

:root{
    font-family: 'Roboto';
    color: cadetblue;
}

*{
    border:0;
    margin:0;
}

body{
    height: 100vh;

    display:flex;
    flex-direction: column;
}

main{
    height:100%;


    flex-grow: 1;
    align-items: center;

    background-color:rgb(252, 251, 248);
}

.game-board {
    margin-top: 50px;

    display: grid;
    gap: 10px;
    grid-template: repeat(3,180px) / repeat(3, 180px);
    place-content: center;
}

.game-board div{
    display: grid;
    place-items: center;

    transition:all 320ms,
    background-color 300ms ease-out;

    font-size: 80px;
    font-weight: 300;

    cursor: pointer;

    color:rgba(255, 255, 255, 0);
    box-shadow: inset 1px 1px 8px rgba(0,0,0,0.3);
    background-color: rgb(252, 251, 248);
}

.game-board div.appear{
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}

.game-board div.appear.player-2{
    color:palevioletred;
}

.game-board div.appear.player-1{
    color:cadetblue;
}

.game-board div.win{
    background-color: rgb(244, 255, 244,1);
}

.game-board div.cant-place{
    background-color: rgb(255, 211, 211);
}

header{
    position:sticky;
    background-color: white;
}

header h1{
    text-align: center;
    height:100px;

    display: grid;
    place-items: center;

 
    box-shadow: 0 0 7px rgba(0,0,0,0.4);

    font-size: 3rem;
    font-weight: 100;
}
