@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

:root{
    font-family: 'Roboto';
    color: cadetblue;
}

*{
    border:0;
    margin:0;
}

body{
    height: 100vh;

    display:flex;
    flex-direction: column;
}

main{
    height:100%;


    flex-grow: 1;
    align-items: center;

    background-color:rgb(252, 251, 248);
}

.game-board {
    margin-top: 30px;

    display: grid;
    gap: 10px;
    grid-template: repeat(3,180px) / repeat(3, 180px);
    place-content: center;
}

.game-board div{
    display: grid;
    place-items: center;

    transition:all 320ms,
    background-color 300ms ease-out;

    font-size: 80px;
    font-weight: 300;
    user-select: none;

    cursor: pointer;

    color:rgba(255, 255, 255, 0);
    box-shadow: inset 1px 1px 8px rgba(0,0,0,0.3);
    background-color: rgb(252, 251, 248);
}

.game-board div.appear{
    box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}

.game-board div.appear.player-2{
    color:palevioletred;
}

.game-board div.appear.player-1{
    color:cadetblue;
}

.game-board div.win{
    background-color: rgb(236, 249, 236);
}

.game-board div.cant-place{
    background-color: rgb(255, 211, 211);
}

header{
    position:sticky;
    background-color: white;
}

header h1{
    text-align: center;
    height:100px;

    display: grid;
    place-items: center;

 
    box-shadow: 0 0 7px rgba(0,0,0,0.4);

    font-size: 3rem;
    font-weight: 100;
}

.players{
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;

    display: grid;
    grid-template: 90px 50px / 1fr 1fr;
    grid-template-areas: "player1 player2"
                         ". settings";
    place-items: center;
}

.players input{
    appearance: none;
    width: clamp(220px, 80%,350px);
    height: 80px;

    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;

    border-radius: 5px;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
}

.players input::placeholder{
    color:rgb(183, 183, 183);
    font-weight: 100;
}

input[id="player1"]{
    grid-area: player1;

    color: cadetblue;
}

input[id="player2"]{
    grid-area: player2;

    color: palevioletred;
}

.settings {
    grid-area: settings;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);

}

.settings div{
    height: 30px;
    width:75px;
    
    display: grid;
    place-items: center;

    transition: all 150ms ease-out;


    box-shadow: inset 1px 1px 3px rgba(0,0,0,0)
    ,0 -1px 3px rgba(0,0,0,0.3);
}

.settings div.selected{
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3)
    ,0 -1px 3px rgba(0, 0, 0, 0);

}
